@import "~basscss/css/basscss.css";

html{
    font-family: -apple-technique, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.5;
}

.max{
    width: 100%;
    height: 100%;
}

.Legend{
    li.activated{
        opacity: 1;
    }
    li.deactivated{
        opacity: 0.4;
    }
}