@import "~basscss/css/basscss.css";
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

html{
    // font-family: -apple-technique, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-family: monospace;
    line-height: 1.5;
    overflow-y: scroll;
}

body{
    background-color: $base02;
    padding: 0;
    margin: 0;
}


.max{
    width: 100%;
    height: 100%;
}

.Legend{
    // background-color: $base02;
    .headlines{
        color: $base1;
    }
    li{
        color: $base2;
        cursor: pointer;
    }
    li.activated{
        opacity: 1;
    }
    li.deactivated{
        opacity: 0.4;
    }
    .bullet{
        position:relative;
        top: 3px;
        right: 3px;
        font-size:32px;
        line-height:18px;
    }
    .sub{
        .bullet{
            line-height:18px;
            font-size:18px;
        }
    }
    .buttonLink{
        cursor: pointer;
    }
}

.Grid{
    background-color: $base02;
}

.Header{
    .brand{
        a, a:visited{
            color: $base01;
            text-decoration: none;
        }
    }
}

.gridMark {
    @extend .h3;
    color: $base1;
}

$activeLegendColor: $yellow;

.gridMark.current{
    color:$base3;
    .textElement{
        background-color:$activeLegendColor;
        border:4px solid $activeLegendColor;
        border-radius:4px;
        position:relative;
    }
}

.gridMark.current.x{
    .textElement{
        left: -2px;
        top: 0px;
    }
}
.gridMark.current.y{
    .textElement{
        left: -3px;
        top: -2px;
    }
}

.gridMark.current.x::before{
    content: '\2191';
    position: absolute;
    right: 4px;
    top: -17px;
    color:$activeLegendColor;
    font-size:18px;
}
.gridMark.current.y::after{
    content: '\2192';
    color: $activeLegendColor;
    font-size:18px;
    position:relative;
    right:4px;
}

.Grid-well{
    background-color: $base03;
    border-color: darken($base03, 5%);
}

.max-height{
    height: 100%;
}