@import "~basscss/css/basscss.css";
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
      background-color: $base02;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: $base03;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */


html{
    // font-family: -apple-technique, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-family: monospace;
    line-height: 1.5;
    overflow-y: auto;
}

body{
    background-color: $base02;
    padding: 0;
    margin: 0;
}


.max{
    width: 100%;
    height: 100%;
}

.no-pointer{
    pointer-events: none;
}

.Legend{
    // background-color: $base02;
    .legend-menu{
        overflow: auto;
    }
    .headlines{
        color: $base1;
    }
    li{
        color: $base2;
        .deleteButton{
            display: none;
        }
        .activated{
            opacity: 1;
        }
        .deactivated{
            opacity: 0.4;
        }
    }
    li:hover{
        position:relative;
        .deleteButton{
            display:inline;
            position: absolute;
            right: 2px;
            top: -1px;
            color: $magenta;
        }
    }
    .bullet{
        position:relative;
        top: 3px;
        right: 3px;
        font-size:32px;
        line-height:18px;
    }
    .sub{
        .bullet{
            line-height:18px;
            font-size:18px;
        }
    }
    .buttonLink{
        cursor: pointer;
    }
}

.no-series{
    .message{
        margin-top:20%;
        color: $magenta;
        border-color: $magenta;
    }
}
.Grid{
    background-color: $base02;
}

.Header{
    .brand{
        a, a:visited{
            color: $base01;
            text-decoration: none;
        }
    }
}

.gridMark {
    @extend .h3;
    color: $base1;
}

$activeLegendColor: $magenta;

.gridMark.current{
    color:$base3;
    .textElement{
        background-color:$activeLegendColor;
        border:4px solid $activeLegendColor;
        border-radius:4px;
        position:relative;
    }
}

.gridMark.current.x{
    .textElement{
        left: -2px;
        top: 0px;
    }
}
.gridMark.current.y{
    .textElement{
        left: -3px;
        top: -6px;
    }
}

.gridMark.current.x::before{
    content: '\2191';
    position: absolute;
    right: 4px;
    top: -17px;
    color:$activeLegendColor;
    font-size:18px;
}
.gridMark.current.y::after{
    content: '\2192';
    color: $activeLegendColor;
    font-size:18px;
    position:relative;
    right:4px;
    top: -7px;
}

.Grid-well{
    background-color: $base03;
    border-color: darken($base03, 5%);
}

.ScaleMenu{
    .alert{
        color: $magenta;
    }
    li{
        cursor: default;
        color: $base1;
    }
    .adjust{
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* IE/Edge */
        user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
        font-weight:bold;
        color: $magenta;
        cursor: pointer;
    }
    input{
        background-color:$base03;
        border:0px;
        color: $base3;
        font-weight:bold;
        font-family:monospace;
        padding: 2px;
        width: 60px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
}


.max-height{
    height: 100%;
}